<a href="https://colab.research.google.com/github/dwwatson1/coronavirus_pandemic_playbook/blob/Dinah_work/Clean_Covid_19_Pandemic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Deliverable 1

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import numpy as np
import tensorflow as tf
import os

In [ ]:
# Extract from file 1
# Step 1
application_df = pd.read_csv("Provisional_COVID-19_Deaths_by_Sex_and_Age.csv")
application_df.head()

   Data As Of  Start Date  ... Pneumonia, Influenza, or COVID-19 Deaths Footnote
0  07/07/2021  01/01/2020  ...                                 843136.0      NaN
1  07/07/2021  01/01/2020  ...                                    391.0      NaN
2  07/07/2021  01/01/2020  ...                                   1253.0      NaN
3  07/07/2021  01/01/2020  ...                                    258.0      NaN
4  07/07/2021  01/01/2020  ...                                    397.0      NaN

[5 rows x 16 columns]

In [ ]:
# Determine the number of unique values in each column
# Step 2
application_df.nunique()

Data As Of                                     1
Start Date                                    19
End Date                                      19
Group                                          3
Year                                           2
Month                                         12
State                                         54
Sex                                            3
Age Group                                     17
COVID-19 Deaths                             2533
Total Deaths                                6672
Pneumonia Deaths                            2396
Pneumonia and COVID-19 Deaths               1836
Influenza Deaths                             325
Pneumonia, Influenza, or COVID-19 Deaths    2963
Footnote                                       1
dtype: int64

In [ ]:
# Step 3
application_df.shape

(60588, 16)

In [ ]:
# Step 4
new_Provisional_COVID_Deaths_by_Sex_and_Age_df=application_df[["Data As Of","Start Date","End Date","Group","State", "Sex", "Age Group"]]

In [ ]:
# Step 5
new_Provisional_COVID_Deaths_by_Sex_and_Age_df.isnull().sum()

Data As Of    0
Start Date    0
End Date      0
Group         0
State         0
Sex           0
Age Group     0
dtype: int64

In [ ]:
# Determine the number of unique values in each column
# Step 6
new_Provisional_COVID_Deaths_by_Sex_and_Age_df.nunique()

Data As Of     1
Start Date    19
End Date      19
Group          3
State         54
Sex            3
Age Group     17
dtype: int64

In [ ]:
# Step 7
df_Covid_Sex_Age=new_Provisional_COVID_Deaths_by_Sex_and_Age_df.rename(columns={'Data As Of': 'AsOfDate','Start Date':'StartDate','End Date':'EndDate','Group' : 'Grouping','Age Group':'AgeGroup'}, inplace=False)
df_Covid_Sex_Age.head

<bound method NDFrame.head of          AsOfDate   StartDate  ...        Sex           AgeGroup
0      07/07/2021  01/01/2020  ...  All Sexes           All Ages
1      07/07/2021  01/01/2020  ...  All Sexes       Under 1 year
2      07/07/2021  01/01/2020  ...  All Sexes         0-17 years
3      07/07/2021  01/01/2020  ...  All Sexes          1-4 years
4      07/07/2021  01/01/2020  ...  All Sexes         5-14 years
...           ...         ...  ...        ...                ...
60583  07/07/2021  07/01/2021  ...     Female        50-64 years
60584  07/07/2021  07/01/2021  ...     Female        55-64 years
60585  07/07/2021  07/01/2021  ...     Female        65-74 years
60586  07/07/2021  07/01/2021  ...     Female        75-84 years
60587  07/07/2021  07/01/2021  ...     Female  85 years and over

[60588 rows x 7 columns]>

In [ ]:
# Step 8
df_Covid_Sex_Age.nunique()

AsOfDate      1
StartDate    19
EndDate      19
Grouping      3
State        54
Sex           3
AgeGroup     17
dtype: int64

In [ ]:
# Save and export your results to an csv file - Provisional_COVID-19_Deaths_by_Sex_and_Age
# File 1
# Step 9
df_Covid_Sex_Age.to_csv("COVID_Deaths_by_Sex_and_Age.csv")

In [ ]:
# Extract from file 2
# Step 1
app_df = pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv")
app_df.head()

  submission_date state  ...  consent_cases  consent_deaths
0      03/29/2021    TX  ...      Not agree       Not agree
1      07/28/2020    MP  ...          Agree           Agree
2      08/22/2020    AR  ...      Not agree       Not agree
3      05/09/2021    PW  ...            NaN             NaN
4      08/15/2020    FL  ...      Not agree       Not agree

[5 rows x 15 columns]

In [ ]:
# Determine the number of unique values in each column
# Step 2
app_df.nunique()

submission_date      531
state                 60
tot_cases          23510
conf_cases         13043
prob_cases          9188
new_case            5133
pnew_case           1757
tot_death          10677
conf_death          7822
prob_death          2291
new_death            444
pnew_death           252
created_at          1755
consent_cases          2
consent_deaths         2
dtype: int64

In [ ]:
# Step 3
app_df.shape

(31860, 15)

In [ ]:
# Step 4
new_US_COVID_Cases_and_Deaths_by_State_over_Time_df=app_df[["submission_date","state","tot_cases","new_case","tot_death", "new_death", "created_at"]]

In [ ]:
# Step 5
new_US_COVID_Cases_and_Deaths_by_State_over_Time_df.isnull().sum()

submission_date    0
state              0
tot_cases          0
new_case           0
tot_death          0
new_death          0
created_at         0
dtype: int64

In [ ]:
# Determine the number of unique values in each column
# Step 6
new_US_COVID_Cases_and_Deaths_by_State_over_Time_df.nunique()

submission_date      531
state                 60
tot_cases          23510
new_case            5133
tot_death          10677
new_death            444
created_at          1755
dtype: int64

In [ ]:
# Step 7
df_COVID_Cases_Deaths_by_State=new_US_COVID_Cases_and_Deaths_by_State_over_Time_df.rename(columns={'submission_date': 'AsOfDate'}, inplace=False)
df_COVID_Cases_Deaths_by_State.head

<bound method NDFrame.head of          AsOfDate state  ...  new_death              created_at
0      03/29/2021    TX  ...         46  03/31/2021 12:00:00 AM
1      07/28/2020    MP  ...          0  07/29/2020 02:34:46 PM
2      08/22/2020    AR  ...         11  08/23/2020 02:15:28 PM
3      05/09/2021    PW  ...          0  05/10/2021 02:15:36 PM
4      08/15/2020    FL  ...        204  08/16/2020 02:57:14 PM
...           ...   ...  ...        ...                     ...
31855  03/08/2020    OH  ...          0  03/26/2020 04:22:39 PM
31856  04/30/2021    SD  ...          5  05/01/2021 01:43:22 PM
31857  09/09/2020    NM  ...          2  09/11/2020 12:00:00 AM
31858  03/10/2021    SD  ...          3  03/11/2021 03:36:21 PM
31859  03/13/2021    IA  ...          3  03/14/2021 01:53:25 PM

[31860 rows x 7 columns]>

In [ ]:
# Step 8
df_COVID_Cases_Deaths_by_State.nunique()

AsOfDate        531
state            60
tot_cases     23510
new_case       5133
tot_death     10677
new_death       444
created_at     1755
dtype: int64

In [ ]:
# Save and export your results to an csv file - United_States_COVID-19_Cases_and_Deaths_by_State_over_Time
# File 2
# Step 9
df_COVID_Cases_Deaths_by_State.to_csv("COVID_Cases_Deaths_by_State.csv")

In [ ]:
# Extract from file 3
# Step 1
df_application = pd.read_csv("Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age.csv")
df_application.head()

   Data As Of  Start Date    End Date  ... COVID-19 Deaths  Number of Mentions  Flag
0  07/04/2021  01/01/2020  07/03/2021  ...           435.0               453.0   NaN
1  07/04/2021  01/01/2020  07/03/2021  ...          1969.0              2020.0   NaN
2  07/04/2021  01/01/2020  07/03/2021  ...          5213.0              5354.0   NaN
3  07/04/2021  01/01/2020  07/03/2021  ...         15393.0             15843.0   NaN
4  07/04/2021  01/01/2020  07/03/2021  ...         38824.0             39904.0   NaN

[5 rows x 14 columns]

In [ ]:
# Determine the number of unique values in each column
# Step 2
df_application.nunique()

Data As Of               1
Start Date              19
End Date                19
Group                    3
Year                     2
Month                   12
State                   54
Condition Group         12
Condition               23
ICD10_codes             23
Age Group               10
COVID-19 Deaths       3426
Number of Mentions    3561
Flag                     1
dtype: int64

In [ ]:
# Step 3
df_application.shape

(273240, 14)

In [ ]:
# Step 4
new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df=df_application[["Data As Of","Start Date", "End Date","Group", "State", "Condition", "Condition Group", "Age Group","COVID-19 Deaths"]]

In [ ]:
# Step 5
new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df.isnull().sum()

Data As Of             0
Start Date             0
End Date               0
Group                  0
State                  0
Condition              0
Condition Group        0
Age Group              0
COVID-19 Deaths    69460
dtype: int64

In [ ]:
# Determine the number of unique values in each column
# Step 6
new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df.nunique()

Data As Of            1
Start Date           19
End Date             19
Group                 3
State                54
Condition            23
Condition Group      12
Age Group            10
COVID-19 Deaths    3426
dtype: int64

In [ ]:
# Step 7
df_Covid_Contributing_Deaths=new_Conditions_Contributing_COVID_Deaths_by_State_and_Age_df.rename(columns={'Data As Of': 'AsOfDate','Start Date':'StartDate','End Date':'EndDate', 'Group': 'Grouping','Age Group': 'AgeGroup','Condition Group':'ConditionGroup','COVID-19 Deaths' : 'Deaths'}, inplace=False)
df_Covid_Contributing_Deaths.head

<bound method NDFrame.head of           AsOfDate   StartDate  ...  AgeGroup   Deaths
0       07/04/2021  01/01/2020  ...      0-24    435.0
1       07/04/2021  01/01/2020  ...     25-34   1969.0
2       07/04/2021  01/01/2020  ...     35-44   5213.0
3       07/04/2021  01/01/2020  ...     45-54  15393.0
4       07/04/2021  01/01/2020  ...     55-64  38824.0
...            ...         ...  ...       ...      ...
273235  07/04/2021  03/01/2021  ...  All Ages     69.0
273236  07/04/2021  04/01/2021  ...  All Ages    196.0
273237  07/04/2021  05/01/2021  ...  All Ages    177.0
273238  07/04/2021  06/01/2021  ...  All Ages     22.0
273239  07/04/2021  07/01/2021  ...  All Ages      0.0

[273240 rows x 9 columns]>

In [ ]:
# Step 8
df_Covid_Contributing_Deaths.nunique()

AsOfDate             1
StartDate           19
EndDate             19
Grouping             3
State               54
Condition           23
ConditionGroup      12
AgeGroup            10
Deaths            3426
dtype: int64

In [ ]:
# Save and export your results to an csv file - Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age
# File 3
# Step 9
df_Covid_Contributing_Deaths.to_csv("COVID_Conditions_Contributing_Deaths.csv")

In [ ]:
# Extract from file 4
# Step 1
df_app = pd.read_csv("cdc_database_cleaned.csv")
df_app.head()

   Unnamed: 0 case_month res_state  ...  icu_yn death_yn  underlying_conditions_yn
0           0    2020-04        PA  ...      No       No                       Yes
1           1    2020-11        PA  ...      No       No                       Yes
2           2    2020-06        KS  ...      No       No                        No
3           3    2020-12        NV  ...      No       No                       Yes
4           4    2020-06        KS  ...      No       No                       Yes

[5 rows x 17 columns]

In [ ]:
# Determine the number of unique values in each column
# Step 2
df_app.nunique()

Unnamed: 0                  141944
case_month                      10
res_state                       41
state_fips_code                 30
res_county                     393
county_fips_code               497
age_group                        4
sex                              3
race                             6
ethnicity                        2
exposure_yn                      1
current_status                   2
symptom_status                   3
hosp_yn                          2
icu_yn                           2
death_yn                         2
underlying_conditions_yn         2
dtype: int64

In [ ]:
# Step 3
df_app.shape

(141944, 17)

In [ ]:
# Step 4
new_cdc_database_df=df_app.drop(columns=["unnamed","state_fips_code","res_county","county_fips_code"], axis=1)

KeyError: ignored

In [ ]:
# Step 5
new_cdc_database_df.isnull().sum()

Unnamed: 0                  0
case_month                  0
res_state                   0
age_group                   0
sex                         0
race                        0
ethnicity                   0
exposure_yn                 0
current_status              0
symptom_status              0
hosp_yn                     0
icu_yn                      0
death_yn                    0
underlying_conditions_yn    0
dtype: int64

In [ ]:
# Determine the number of unique values in each column
# Step 6
new_cdc_database_df.nunique()

Unnamed: 0                  141944
case_month                      10
res_state                       41
age_group                        4
sex                              3
race                             6
ethnicity                        2
exposure_yn                      1
current_status                   2
symptom_status                   3
hosp_yn                          2
icu_yn                           2
death_yn                         2
underlying_conditions_yn         2
dtype: int64

In [ ]:
# Step 7
df_COVID_cdc_db=new_cdc_database_df.rename(columns={'Data As Of': 'AsOfDate','Start Date':'StartDate','End Date':'EndDate', 'Group': 'Grouping','Age Group': 'AgeGroup','Condition Group':'ConditionGroup','COVID-19 Deaths' : 'Deaths'}, inplace=False)
df_COVID_cdc_db.head

<bound method NDFrame.head of         Unnamed: 0 case_month  ... death_yn underlying_conditions_yn
0                0    2020-04  ...       No                      Yes
1                1    2020-11  ...       No                      Yes
2                2    2020-06  ...       No                       No
3                3    2020-12  ...       No                      Yes
4                4    2020-06  ...       No                      Yes
...            ...        ...  ...      ...                      ...
141939      141939    2020-12  ...      Yes                      Yes
141940      141940    2020-11  ...       No                      Yes
141941      141941    2020-08  ...       No                       No
141942      141942    2020-11  ...       No                       No
141943      141943    2020-11  ...       No                       No

[141944 rows x 14 columns]>

In [ ]:
# Step 8
df_COVID_cdc_db.nunique()

Unnamed: 0                  141944
case_month                      10
res_state                       41
age_group                        4
sex                              3
race                             6
ethnicity                        2
exposure_yn                      1
current_status                   2
symptom_status                   3
hosp_yn                          2
icu_yn                           2
death_yn                         2
underlying_conditions_yn         2
dtype: int64

In [ ]:
# Save and export your results to an csv file - Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age
# File 4
# Step 9
df_COVID_cdc_db.to_csv("COVID_CDC_DATA.csv")