<a href="https://colab.research.google.com/github/dwwatson1/coronavirus_pandemic_playbook/blob/Dinah_work/Covid_19_Pandemic_Must_Know.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Deliverable 1

In [28]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("all_states_history.csv")
application_df.head()

         date state  ...  totalTestsViral  totalTestsViralIncrease
0  2021-03-07    AK  ...        1731628.0                        0
1  2021-03-07    AL  ...              NaN                        0
2  2021-03-07    AR  ...        2736442.0                     3380
3  2021-03-07    AS  ...           2140.0                        0
4  2021-03-07    AZ  ...        7908105.0                    45110

[5 rows x 41 columns]

In [29]:
# Drop the non-beneficial ID columns.
application_df = application_df.drop(columns=["deathConfirmed", "deathIncrease","deathProbable", "hospitalizedCumulative", "hospitalizedIncrease", "inIcuCumulative", "negative",
  "negativeIncrease", "negativeTestsAntibody", "negativeTestsPeopleAntibody", "negativeTestsViral", "onVentilatorCumulative", "positive","positiveCasesViral","positiveScore",
  "positiveTestsAntibody","positiveTestsAntigen","positiveTestsPeopleAntibody","positiveTestsPeopleAntigen","positiveTestsViral","totalTestEncountersViral","totalTestEncountersViralIncrease"], axis=1)
application_df.head()

         date state  ...  totalTestsViral  totalTestsViralIncrease
0  2021-03-07    AK  ...        1731628.0                        0
1  2021-03-07    AL  ...              NaN                        0
2  2021-03-07    AR  ...        2736442.0                     3380
3  2021-03-07    AS  ...           2140.0                        0
4  2021-03-07    AZ  ...        7908105.0                    45110

[5 rows x 19 columns]

In [30]:
# Drop the non-beneficial ID columns.
application_df = application_df.drop(columns=["totalTestResults", "totalTestResultsIncrease","totalTestsAntibody", "totalTestsAntigen", "totalTestsPeopleAntibody", "totalTestsPeopleAntigen", "totalTestsPeopleViral",
  "totalTestsPeopleViralIncrease", "totalTestsViralIncrease"], axis=1)
application_df.head()

         date state    death  ...  positiveIncrease  recovered  totalTestsViral
0  2021-03-07    AK    305.0  ...                 0        NaN        1731628.0
1  2021-03-07    AL  10148.0  ...               408   295690.0              NaN
2  2021-03-07    AR   5319.0  ...               165   315517.0        2736442.0
3  2021-03-07    AS      0.0  ...                 0        NaN           2140.0
4  2021-03-07    AZ  16328.0  ...              1335        NaN        7908105.0

[5 rows x 10 columns]

In [31]:
# Determine the number of unique values in each column.
application_df.nunique()

date                       420
state                       56
death                     7476
hospitalized              7571
hospitalizedCurrently     3885
inIcuCurrently            1642
onVentilatorCurrently      836
positiveIncrease          4779
recovered                 8295
totalTestsViral          12519
dtype: int64

In [32]:
application_df.isnull().sum()

date                         0
state                        0
death                      850
hospitalized              8398
hospitalizedCurrently     3441
inIcuCurrently            9144
onVentilatorCurrently    11654
positiveIncrease             0
recovered                 8777
totalTestsViral           6264
dtype: int64

In [33]:
application_df.shape

(20780, 10)

In [34]:
new_df=application_df[["date","state","positiveIncrease"]]

In [35]:
new_df.isnull().sum()

date                0
state               0
positiveIncrease    0
dtype: int64

In [36]:
# Save and export your results to an csv file
application_df.to_csv("cleaned_states_history.csv")

In [37]:
# Save and export your results to an csv file
application_df.to_csv("new_cleaned_states,csv")