<a href="https://colab.research.google.com/github/dwwatson1/coronavirus_pandemic_playbook/blob/michael_work/md_no_covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from IPython.core.debugger import set_trace

In [4]:
import pandas as pd
import numpy as np
import os
import random
import matplotlib.pyplot as plt
import pickle
import time

In [5]:
!pip install faker

Collecting faker
  Downloading https://files.pythonhosted.org/packages/c4/8f/dd3f3b78dba5849041454f63b2426b95cd7e6a840ceec83a7764be3d049e/Faker-8.10.1-py3-none-any.whl (1.2MB)
     |████████████████████████████████| 1.2MB 2.9MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-8.10.1

In [6]:
from faker import Faker

fake=Faker()

In [7]:
def faker_categorical(num=1, seed=None):
  np.random.seed(seed)
  fake.seed_instance(seed)

  output = [
    {
        "res_state": "MD",
        "age_group": np.random.choice(["0 - 17 years", "18 to 49 years", "50 to 64 years", "65+ years"], p=[0.22, 0.42, 0.20, 0.16]),
        "sex": np.random.choice(["Male", "Female"], p=[0.48, 0.52]),
        "race": np.random.choice(["White", "Black", "Asian", "American Indian/Alaska Native", "Native Hawaiian/Other Pacific Islander", "Multiple/Other"], p=(0.5453, 0.3027, 0.0639, 0.0032, 0.0004, 0.0845)),
    }
    for x in range(num)
  ]
  return output

  # NOTES
  # From US CENSUS Data: 
  # https://data.census.gov/cedsci/table?q=maryland%20age%20and%20sex&y=2019&tid=ACSST1Y2019.S0101&hidePreview=true&tp=true
  # https://data.census.gov/cedsci/table?q=maryland%20race&y=2019&tid=ACSDT1Y2019.B02001&hidePreview=true&tp=false&moe=false 

  # Age Groups (Population with and without COVID)
  # Total MD Population: 6,045,680
  # Total 0-17 Years: 1,332,287 (22%)
  # Total 18-49 Years: 2,521,766 (42%)
  # Total 50-64 Years: 1,231,740 (20%)
  # Total 65+ Years: 959,887 (16%)

  # Sex (Populaiton with and without COVID)
  # Total MD Population: 6,045,680
  # Total Male: 2,928,013 (48%)
  # Total Female: 3,117,667 (52%)

  # Race (Population with and without COVID)
  # Total MD Population: 6,045,680
  # Total White: 3,296,909 (54.53%)
  # Total Black: 1,830,059 (30.27%)
  # Total Asian: 386,194 (6.39%)
  # Total American Indian/Alaska Native: 19,164 (0.32%)
  # Total Native Hawaiian/Other Pacific Islander: 2,453 (0.04%)
  # Total Multiple/Other: 510,901 (8.45%)

In [8]:
df = pd.DataFrame(faker_categorical(num=5819866, seed=0))
df.head(5)

#num = (MD Total Population) - (Total Number of COVID Cases)
#num = 6,045,680 - 225,814

  res_state       age_group     sex            race
0        MD  18 to 49 years  Female           Black
1        MD  18 to 49 years    Male           Black
2        MD  18 to 49 years  Female  Multiple/Other
3        MD  18 to 49 years  Female           White
4        MD  18 to 49 years  Female           White

In [9]:
# Add column to identify all persons without COVID
df.insert(4, "has_covid", "No")

In [10]:
df.head(5)

  res_state       age_group     sex            race has_covid
0        MD  18 to 49 years  Female           Black        No
1        MD  18 to 49 years    Male           Black        No
2        MD  18 to 49 years  Female  Multiple/Other        No
3        MD  18 to 49 years  Female           White        No
4        MD  18 to 49 years  Female           White        No

In [11]:
df.to_csv('md_no_covid.csv', index=False)